<div class="doc-content">
	<h2>Authentication & Onboarding (4 sub-modules)</h2>
	<ul>
		<li>Landing/Home Page,</li>
		<li>Registration,</li>
		<li>Login & OTP,</li>
		<li>First-time Onboarding</li>
	</ul>

	<hr />

	<h2>Browsing & Discovery (9 sub-modules)</h2>
	<ul>
		<li>Home Page,</li>
		<li>Filters,</li>
		<li>Search,</li>
		<li>Regional Menu,</li>
		<li>International Menu,</li>
		<li>Special Cuisines,</li>
		<li>Menu Detail,</li>
		<li>Recommendations,</li>
		<li>Wishlist</li>
	</ul>

	<hr />

	<h2>Shopping & Checkout (4 sub-modules)</h2>
	<ul>
		<li>Add to Cart,</li>
		<li>Coupons & Discounts,</li>
		<li>Checkout Page,</li>
		<li>Payment Processing</li>

	</ul>

	<hr />

	<h2>Order Management (3 sub-modules)</h2>
	<ul>
		<li>Order Tracking,</li>
		<li>Order Delivered,</li>
		<li>Review Pop-up</li>
	</ul>

	<hr />

	<h2>User Profile & Account (12 sub-modules)</h2>
	<ul>
		<li>Profile Overview,</li>
		<li>Account Settings,</li>
		<li>Order History,</li>
		<li>Addresses,</li>
		<li>Help Center,</li>
		<li>Promocodes,</li>
		<li>Subscription,</li>
		<li>Invite Friends,</li>
		<li>Privacy Policy,</li>
		<li>Logout,</li>
		<li>Delete Account</li>
	</ul>

	<hr />

	<h2>Subscription & Personalisation (6 sub-modules)</h2>
	<ul>
		<li>Plan Selection,</li>
		<li>Personalisation Wizard (6 steps),</li>
		<li>Final Review & Payment,</li>
		<li>Plan Management (Active/Paused) or (Paused/resume)</li>
	</ul>

	<h2>Static & Informational (1 sub-module)</h2>
	<ul>
		<li>About Us Page</li>
	</ul>

</div>